# Ignore everything
*

# Do not ignore directories (but still ignore their content)
!*/

# Do not ignore this .gitignore file
!.gitignore

# Do not ignore .cpp, .h, and .py files in any directory
!*.cpp
!*.h
!*.py
